body{
    font-family: Arial,  sans-serif;
    text-align: center;
    background: white;
    margin: 0;
    padding: 2em;
}

h1{
    color: black ;
}

#bola{
    font-size: 4em;
    background: blue;
    color: white;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    margin: 1em auto;
}

button{
    background: blue;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {background: blue;}

#numeros{
    margin-top: 1em;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}